name: Image Build

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      AWS_USER_ACCESS_KEY_ID:
        required: true
      AWS_USER_ACCESS_KEY_SECRET:
        required: true
      JENKINS_USER:
        required: false
      JENKINS_TOKEN:
        required: false
      LAMBDA_JENKINS_DEPLOYMENT_TOKEN:
        required: false
    inputs:
      node_v:
        type: string
        required: false
        default: "12.14.1"
      service_name:
        type: string
        required: true
      jenkins_name:
        type: string
        required: false
        default: ""

env:
  ## Sets environment variable
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NODE_OPTIONS: "--max-old-space-size=4096"
  HUSKY: 0

jobs:
  build_image:
    # Containers must run in Linux based operating systems
    runs-on: app_backend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: get jenkins_name
        id: get_jenkins_name
        shell: bash
        run: |
          echo "::set-output name=service_jenkins_name::$(if [ ${{ inputs.jenkins_name }} != '' ]; then echo "${{ inputs.jenkins_name }}"; else echo "${{ inputs.service_name }}"; fi)"
      - name: echo jenkins name
        shell: bash
        run: |
          echo ${{ steps.get_jenkins_name.outputs.service_jenkins_name }}
      - name: Build and push image
        uses: totango/shared-github-actions/.github/actions/build-image@main
        id: image
        with:
          aws_user_id: ${{secrets.AWS_USER_ACCESS_KEY_ID}}
          aws_user_secret: ${{secrets.AWS_USER_ACCESS_KEY_SECRET}}
          service_name: ${{ inputs.service_name }}
          npm_token: ${{secrets.NPM_TOKEN}}
      - name: Deploy new version
        if: steps.image.outputs.branch == 'develop'
        uses: fjogeleit/http-request-action@v1
        with:
          timeout: 900000 # 15 minutes
          username: ${{ github.actor }}
          password: ${{ secrets.LAMBDA_JENKINS_DEPLOYMENT_TOKEN }}
          url: 'https://rzawfao3n6m3q5j46xwwkfwp5e0mllul.lambda-url.us-east-1.on.aws/'
          method: 'POST'
          data: '{"components": "${{ steps.get_jenkins_name.outputs.service_jenkins_name }}", "custom_version": "${{ steps.image.outputs.version }}", "waitForCompletion":"true"}'

